body {
    text-align: center;
    background-color: pink;
    background: linear-gradient(yellow 0%, green 100%);
}

.profilo {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.section1 {
    font-family: 'Dancing Script', cursive;
}

p {
    font-size: 25px;
}

.section2 {
    font-family: 'Dancing Script', cursive;
}

.line {
    height: 6px;
    background-color: red;
    width: 70px;
    margin: 8px auto;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
}


.links {
    display: inline;
    position: fixed;
    float: right;
    color: black;
    font-family:fantasy;
    font-size: 20px;
}


h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;

}
img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.contact_1 a {
    color: red;
    text-shadow: none;
}

.contact_1 h3 {
    display: inline;
    color: orange;
}

.fa fa-envelope {
    color: orange;
}
